<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to THIS BEER PAGE BUTTERFLY!!!
  </h1>

  <!-- <nav>
      <a routerLink="/"> Home </a>
      <br>

      <div *ngIf="!userInfo">
        <a routerLink="/signup"> Sign Up </a>
        <br>

        <a routerLink="/login"> Log In </a>
        <br>
      </div>

      <div *ngIf="userInfo">

        <button (click)="logMeOut()"> Log Out </button>
        <br>
      </div>
    </nav> -->

    <header class="header s-header">
    <div class="container nopadding">
        <a class="s-logo" href="#">
            <!-- <img src="img/shop/logo.png" alt="logo"/> -->
        </a>
        <div class="menu-button s-menu-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav s-nav">
            <ul>
                <li class="active" ><a class="scroll-to-link" routerLink="/"><i class="s-home-ico"></i>home</a></li>
                <li ><a class="scroll-to-link" routerLink="/signup"><i class="s-about-ico" ></i>Sign Up</a></li>
                <li><a class="scroll-to-link" routerLink="/login"><i class="s-interior-ico"></i>Log In</a></li>
                <li ><a (click)="logMeOut()" class="scroll-to-link" ><i class="s-service-ico"></i>Log Out</a></li>
                <!-- <li ><a class="scroll-to-link" href="#team"><i class="s-team-ico"></i>team</a></li>
                <li ><a class="scroll-to-link" href="#product"><i class="s-product-ico"></i>products</a></li>
                <li ><a class="scroll-to-link" href="#contact"><i class="s-contact-ico"></i>contact</a></li> -->
            </ul>
        </nav>
    </div>
</header>

<router-outlet></router-outlet>
