li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding-left: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  padding-top: 20px;
}

.row {
  width: 100%;
  margin-left: 15%;
}
.col-sm-4 {
  width: 33%;
}

a {
  color: white;
}

a:hover {
  color: #efc84a;
  text-decoration: none;
}

div {
  display: inline-block;
}

.nav-wrap {
  float: right;
  padding: 30px;
  padding-right: 60px;
}

.nav-text {
  padding-left: 50px;
}

header {
  padding-bottom: 20px;
  background-color: #2c3338;
  box-shadow: 0 0 20px 0px rgb(47, 47, 47),
							0 0 20px 0px rgba(107, 104, 104, 0);
}


.footer-titles {
  padding-top: 20px;
  color: white;
}

.fourth-text {
  color: #A3AAAA;
}

.footer {
  background-color: #2c3338;
  border-top: outset 5px #efc84a;
  padding-bottom: 15px;

}

.bibix-icon {
  height: 100px;
}

.footer-link {
  font-size: 16px;
  font-weight: lighter;
  line-height: 2;
}

.footer-image {
  height: 120px;
  margin-top: 10%;
}
