<!--The content below is only a placeholder and can be replaced.-->
<!-- <div>
  <h1>
    Welcome to THIS BEER PAGE BUTTERFLY!!!
  </h1> -->

  <!-- <nav>
      <a routerLink="/"> Home </a>
      <br>

      <div *ngIf="!userInfo">
        <a routerLink="/signup"> Sign Up </a>
        <br>

        <a routerLink="/login"> Log In </a>
        <br>
      </div>

      <div *ngIf="userInfo">

        <button (click)="logMeOut()"> Log Out </button>
        <br>
      </div>
    </nav> -->

<header>
  <div class="nav-text">
    <a routerLink="/"><img src="../assets/Bibix.png" class="bibix-icon"></a>
  </div>
  <div class="nav-wrap">
    <nav class="main-nav" role="navigation">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/signup">Sign Up</a></li>
        <li><a routerLink="/login">Log In</a></li>
        <li><a routerLink="/preferences">Preferences</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/favorites">Favorites</a></li>
      </ul>
    </nav>
  </div>
</header>


<router-outlet></router-outlet>

<footer>
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
          <h4 class="footer-titles">REVERA</h4>
          <p class="fourth-text"> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vehicula erat non congue cursus. Aenean auctor nulla quis augue dictum, sed sagittis odio varius? Aliquam nec venenatis turpis. Aenean euismod arcu vel volutpat tristique. In mattis ipsum quis magna feugiat, id tempus metus accumsan.</p>
      </div>
      <div class="col-lg-3">
          <h4 class="footer-titles">META</h4>
          <p class="fourth-text"> Log in <br />Entries RSS <br /> Comments RSS <br /> Wordpress.org <br /></p>
        </div>
      <div class="col-lg-3">
          <h4 class="footer-titles">ARCHIVES</h4>
          <p class="fourth-text">
            August 2013
          </p>
      </div>
      <div class="col-lg-3">
          <h4 class="footer-titles">RECENT POSTS</h4>
          <p class="fourth-text">
            Etiam mauris tortor, pharetra quis lobortis in, pharetra in diam <br />
            Nunc libero elit, iaculis nec augue non <br />
            Falauris sollicitudin quis dolor venenatis facilisis <br />
            Phasellus aliquet iaculis neque accumsan aliquam <br />
            Vivamus blandit ipsum sed arcu euismod <br />
          </p>
      </div>
    </div>
  </div>
</section>
</footer>
