<body>
<div class="container">
<div id="login">
  <div class="signup-wrapper">
    <h2> Sign Up </h2>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>

    <form (ngSubmit)="signupSubmit()" name='form-login' class="move">
      <label for="full-name-input"> Full Name </label>
      <input  id="full-name-input" type="text" placeholder="John Smith"
          name="fullName" [(ngModel)]="newUser.signupFullName">
      <br>

      <label for="username-input"> Username </label>
      <input  id="username-input" type="text" placeholder="Beerlord123"
          name="username" [(ngModel)]="newUser.signupUsername">
      <br>

      <label for="password-input"> Password </label>
      <input  id="password-input" type="password" placeholder="*****"
          name="userPassword" [(ngModel)]="newUser.signupPassword">
      <br>

      <button type="submit"> Sign Up </button>
    </form>
  </div>
</div>



  <div id="login">
    <div class="login-wrapper">
    <h2> Log In </h2>

    <p class="error" *ngIf="loginError">
      {{ loginError }}
    </p>

    <form (ngSubmit)="loginSubmit()" name='form-login'>
      <label for="log-username-input"> Username </label>
      <input  id="log-username-input" type="text" placeholder="Beerlord123"
          name="username" [(ngModel)]="loginUser.loginUsername">
      <br>

      <label for="log-password-input"> Password </label>
      <input  id="log-password-input" type="password" placeholder="*****"
          name="userPassword" [(ngModel)]="loginUser.loginPassword">
      <br>

      <button type="submit"> Log In </button>
    </form>
  </div>
</div>
</div>
