<body>
<section id="landing">
	<div class="header-wrapper">
		<header>
			<img src="../assets/Beer-Photos/Beer-icon.png" class="brand">
			<a class="login-btn" href="#">Sign In</a>
		</header>
	</div>

<div class="middle-heading">
	<h1>See what's next.</h1>
	<p>Watch anywhere. Cancel anytime.</p>
	<a class="join-btn" href="#">Join free for a month</a>
</div>
</section>

<section id="product">
	<div class="perks">

		<a class="perk" href="#">
			<div class="perk1 pk-ctrl">
				<i class="fa fa-smile-o" aria-hidden="true"></i>
				<p>No commitments</p>
				<p>Cancel online at anytime</p>
				<span class="perk-redbar"></span>
			</div>
		</a>

		<a class="perk" href="#">
			<div class="perk2 pk-ctrl">
				<i class="fa fa-smile-o" aria-hidden="true"></i>
				<p>Watch anywhere</p>
				<span class="perk-redbar"></span>
			</div>
		</a>

		<a class="perk" href="#">
			<div class="perk3 pk-ctrl">
				<i class="fa fa-smile-o" aria-hidden="true"></i>
				<p>Pick your price</p>
				<span class="perk-redbar"></span>
			</div>
		</a>

	</div>
</section>
</body>
