<div class="beer-card">
<a routerLink="/dashboard"> Back to list </a>


    <div class="image">
      <img [src]="beerInfo.image">
    </div>



    <div class="info">
      <h2> {{ beerInfo.name }} </h2>

      <p> Location: {{ beerInfo.location }} </p>

      <p> Style: {{ beerInfo.style }} </p>

      <p> IBU: {{ beerInfo.ibu }} </p>

      <p> ABV: {{ beerInfo.abv }} </p>

      <p> Description: {{ beerInfo.description }} </p>

      <button (click)="postFavorite(beerInfo)"> Favorite </button>
    </div>
</div>
