.beer-card {
  background-color: white;
  width: 60%;
  padding: 40px;
  margin: 60px;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  border: 4px solid #efc84a;
}

img {
  height: 400px;

}

.image {
  float: left;
  padding: 5%;
}
