<div class="beer-card">
<!-- <a routerLink="/dashboard">  Back to list </a> -->


    <div class="image">
      <img [src]="beerInfo.image">
    </div>



    <div class="info">
      <h2> {{ beerInfo.name }} </h2>

      <p> <b> Location: </b> {{ beerInfo.location }} </p>

      <p> <b> Style: </b> <a routerLink="/styles">{{ beerInfo.style }}</a> </p>

      <p> <b> IBU: </b> {{ beerInfo.ibu }} </p>

      <p> <b> ABV: </b> {{ beerInfo.abv }} </p>

      <p> <b> Description: </b> {{ beerInfo.description }} </p>

      <!-- <button (click)="postFavorite(beerInfo)"> Favorite </button> -->

      <div class="row button-row">
        <button type="button" class="btn btn-outline-secondary" (click)="postFavorite(beerInfo)"> Favorite </button>
      </div>
    </div>
    <a routerLink="/dashboard">  Back to list </a>
</div>
