<h2> THIS IS YOUR BUTTERFLY PREFERENCES PAGE </h2>

<div class="brown-ale">
  <img src="../../assets/pref-images/Brooklyn-brown-ale.png" alt="">
  <br>
  <button (click)="postTheStyle('Brown Ale')"> Select </button>
</div>

<div class="porter">
  <img src="../../assets/pref-images/Yuengling-Porter.png" alt="">
  <br>
  <button (click)="postTheStyle('Porter')"> Select </button>
</div>

<div class="stout">
  <img src="../../assets/pref-images/Guinness.png" alt="">
  <br>
  <button (click)="postTheStyle('Stout')"> Select </button>
</div>

<div class="pale-ale">
  <img src="../../assets/pref-images/sierra-nevada-pale-ale.png" alt="">
  <br>
  <button (click)="postTheStyle('Pale Ale')"> Select </button>
</div>

<div class="belgian">
  <img src="../../assets/pref-images/Leffe-Blonde.png" alt="">
  <br>
  <button (click)="postTheStyle('Belgian')"> Select </button>
</div>

<div class="wheat">
  <img src="../../assets/pref-images/hoegaarden.png" alt="">
  <br>
  <button (click)="postTheStyle('Wheat')"> Select </button>
</div>

<div class="amber">
  <img src="../../assets/pref-images/sam-adams-boston-lager.png" alt="">
  <br>
  <button (click)="postTheStyle('Amber')"> Select </button>
</div>

<div class="bock">
  <img src="../../assets/pref-images/Shiner-Bock.png" alt="">
  <br>
  <button (click)="postTheStyle('Bock')"> Select </button>
</div>

<div class="pale-lager">
  <img src="../../assets/pref-images/Heineken.png" alt="">
  <br>
  <button (click)="postTheStyle('Pale Lager')"> Select </button>
</div>

<div class="dark-lager">
  <img src="../../assets/pref-images/Becks-Dark.png" alt="">
  <br>
  <button (click)="postTheStyle('Dark Lager')"> Select </button>
</div>

<button (click)="sendPreferences()"> See Recommendations </button>
