<div class="pref-header">
  <img src="../assets/beericon-1.png" class="beer-icon">
  <p> In order to know what beers to recommend, we need to know what you like! <br>
  Choose 3 beers from this list of popular beers </p>
</div>

<div class="row">
  <!-- <div class="col-lg-12"> -->
    <div class="brown-ale">
      <img src="../../assets/pref-images/Brooklyn-brown-ale.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Brown Ale')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Brown Ale')">
      </label>
    </div>

    <div class="porter">
      <img src="../../assets/pref-images/Yuengling-Porter.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Porter')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Porter')">
      </label>
    </div>

    <div class="stout">
      <img src="../../assets/pref-images/Guinness.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Stout')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Stout')">
      </label>
    </div>

    <div class="pale-ale">
      <img src="../../assets/pref-images/sierra-nevada-pale-ale.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Pale Ale')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Pale Ale')">
      </label>
    </div>


    <div class="belgian">
      <img src="../../assets/pref-images/Leffe-Blonde.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Belgian')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Belgian')">
      </label>
    </div>
  <!-- </div> -->
</div>

<div class="row">
  <!-- <div class="col-lg-12"> -->
    <div class="wheat">
      <img src="../../assets/pref-images/hoegaarden.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Wheat')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Wheat')">
      </label>
    </div>


    <div class="amber">
      <img src="../../assets/pref-images/sam-adams-boston-lager.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Amber')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Amber')">
      </label>
    </div>

    <div class="bock">
      <img src="../../assets/pref-images/Shiner-Bock.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Bock')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Bock')">
      </label>
    </div>

    <div class="pale-lager">
      <img src="../../assets/pref-images/Heineken.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Pale Lager')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Pale Lager')">
      </label>
    </div>

    <div class="dark-lager">
      <img src="../../assets/pref-images/Becks-Dark.png" alt="">
      <br>
      <!-- <button (click)="postTheStyle('Dark Lager')"> Select </button> -->
      <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (click)="postTheStyle('Dark Lager')">
      </label>
    </div>
  <!-- </div> -->
</div>

<div class="row button-row">
  <button type="button" class="btn btn-outline-secondary" (click)="sendPreferences()"> SEE RECOMMENDATIONS </button>
</div>
