<div class="style-page">
<img src="../assets/beericon-3.png" alt="">


<h1> Ambers </h1>

<p>
Many North American brewers are now producing ales that are identified by the
term “amber ale.” This is a more modern, non-traditional style, and many of
these beers borrow heavily from the characteristics associated with more classical
styles such as pale ales or bitters. Amber ales are light- to medium-bodied and
can be anywhere from light copper to light brown in hue. Flavorwise they can vary
from generic and quaffable to serious craft brewed styles with extravagant hoppy
aromas and full malt character. Typically amber ales are quite malty but not
heavily caramelized in flavor. For our purposes amber ales will also include
ales commonly identified as “red ales,” and “American ales” as, from the
consumer’s viewpoint, the dividing line between these styles can often be a
more a marketing concern than a consistently observed brewing convention.
</p>

<br>

<h1> Belgians </h1>

<p>
  Belgium is without a doubt a beer country like no other. In more than 160 breweries,
  give or take a few, countless beers flow into barrels, bottles and cans.
  The choice of beers on offer  Belgian Beer Styles, beer in Belgium Wooden 'Foeders'
  is truly splendid, but what really makes the country unique are the many
  varieties in which these beers come.
  <br><br>
  From low alcohol to heavy, from clear blond to intensely dark, from sweet and
  fruity to extremely bitter or sour. Not all of the described beer styles saw
  the light of day in Belgium but there is simply no country in the world which
  boasts such a wide range of endemic beer styles and types of fermentation as
  Belgium (and what about those glasses?).
  <br><br>
  In addition to the classic Belgian beer styles, we are now seeing beer styles
  that have been imported. Examples include stout and scotch, both very popular
  in the early heydays of British beers.
  <br><br>
  Another successful and recent imported beer style is India Pale Ale (IPA),
  which originated in England, crossed the ocean to the USA and has been
  embraced by Belgian brewers. IPA beers have a high hop content and tend to
  be quite heavy. They also distinguish themselves by the use of hops from
  America, New Zealand and other non-European countries.
</p>

<br>

<h1> Bocks </h1>

<p>
  The origins of Bock beer are quite uncharted. Back in medieval days German
  monasteries would brew a strong beer for sustenance during their Lenten fasts.
  Some believe the name Bock came from the shortening of Einbeck thus "beck"
  to "bock." Others believe it is more of a pagan or old world influence that
  the beer was only to be brewed during the sign of the Capricorn goat,
  hence the goat being associated with Bock beers. Basically, this beer was a
  symbol of better times to come and moving away from winter.
  <br><br>
  As for the beer itself in modern day, it is a bottom fermenting lager that
  generally takes extra months of lagering (cold storage) to smooth out such a
  strong brew. Bock beer in general is stronger than your typical lager, more of
  a robust malt character with a dark amber to brown hue. Hop bitterness can be
  assertive enough to balance though must not get in the way of the malt flavor,
  most are only lightly hopped.
</p>

<br>

<h1> Browns </h1>

<p>
  Like red ales and ambers, brown ales are discerned by a color rather than a
  historical, regional, or ingredient-based classification. But, defining a beer
  ts hue might be likened to describing wine as being merely red or white.
  <br><br>
  Brown ale is a style of beer with a dark amber or brown colour. The term was
  first used by London brewers in the late 17th century to describe their products,
  such as mild ale,though the term had a rather different meaning than it does today.
  18th-century brown ales were lightly hopped and brewed from 100% brown malt.
  <br><br>
  Today there are brown ales made in several regions, most notably England,
  Belgium and America. Beers termed brown ale include sweet, low alcohol beers
  such as Manns Original Brown Ale, medium strength amber beers of moderate
   bitterness such as Newcastle Brown Ale, and malty but hoppy beers such as
   Sierra Nevada Brown Ale.

</p>

<br>

<h1> Dark Lagers </h1>

<p>
  Lagers would likely have been mainly dark until the 1840s; pale lagers were
  not common until the later part of the 19th century when technological
  advances made them easier to produce. Dark lagers typically range in colour
  from amber to dark reddish brown, and may be termed Vienna, amber lager, dunkel,
  tmavé, or schwarzbier depending on region, colour or brewing method.

  Tmavé is Czech for "dark", so is the term for a dark beer in the Czech Republic
  - beers which are so dark as to be black are termed černé pivo, "black beer".
  Dunkel is German for "dark", so is the term for a dark beer in Germany. With
  alcohol concentrations of 4.5% to 6% by volume, dunkels are weaker than Doppelbocks,
  another traditional dark Bavarian beer. Dunkels were the original style of the
  Bavarian villages and countryside.[17] Schwarzbier, a much darker, almost
  black beer with a chocolate or liquorice-like flavour, similar to stout, is
  mainly brewed in Saxony and Thuringia.
</p>

<br>

<h1> Pale Ales </h1>

<p>
  Pale ale is an ale made with predominantly pale malt.
  The highest proportion of pale malts results in a lighter color.
  The term "pale ale" first appeared around 1703 for beers made from malts
  dried with coke, which resulted in a lighter color than other beers popular
  at that time. Different brewing practices and hop levels have resulted in a
  range of taste and strength within the pale ale family
</p>

<br>

<h1> Pale Lagers </h1>

<p>
  Pale lager is a very pale-to-golden-coloured lager beer with a well attenuated
  body and a varying degree of noble hop bitterness.
  <br><br>
  The brewing process for this beer developed in the mid-19th century when Gabriel
  Sedlmayr took pale ale brewing techniques back to the Spaten Brewery in Germany
  and applied them to existing lagering methods. This approach was picked up by
  other brewers, most notably Josef Groll of Bavaria who produced Pilsner Urquell
  in the city of Pilsen in the Austro-Hungarian Empire (now in the Czech Republic).
  The resulting Pilsner beers – pale-coloured, lean and stable beers – were very
  successful[clarification needed] and gradually spread around the globe to become
  the most common form of beer consumed in the world today.
</p>

<br>

<h1> Porters </h1>

<p>
  Porter is a dark style of beer developed in London from well-hopped beers made
  from brown malt.[1][2] The name was first recorded in the 18th century, and is
  thought to come from its popularity with street and river porters.

  The history and development of stout and porter are intertwined. The name
  "stout" as used for a dark beer is believed to have come about because strong
  porters were marketed under such names as "Extra Porter", "Double Porter", and
  "Stout Porter". The term "Stout Porter" would later be shortened to just
  "Stout". For example, Guinness Extra Stout was originally called Extra
  Superior Porter and was only given the name Extra Stout in 1840.
</p>

<br>

<h1> Stouts </h1>

<p>
  Stout is a dark beer made using roasted malt or roasted barley, hops, water and
  yeast. Stouts were traditionally the generic term for the strongest or stoutest
  porters, typically 7% or 8%, produced by a brewery.There are a number of
  variations including Baltic porter, milk stout, and imperial stout; the most
  common variation is dry stout, exemplified by Guinness Draught, the world's
  best selling stout.
  <br><br>
  The first known use of the word stout for beer was in a document dated 1677
  found in the Egerton Manuscript, the sense being that a stout beer was a strong
  beer not a dark beer.[3] The name porter was first used in 1721 to describe a
  dark brown beer that had been made with roasted malts. Because of the huge
  popularity of porters, brewers made them in a variety of strengths. The stronger
  beers were called "stout porters", so the history and development of stout and
  porter are intertwined, and the term stout has become firmly associated with
  dark beer, rather than just strong beer.
</p>

<br>

<h1> Wheats  </h1>

<p>
  Wheat beer is a beer, usually top-fermented, which is brewed with a large
  proportion of wheat relative to the amount of malted barley.
  <br><br>
  Two common varieties of wheat beer are Weißbier (German – "white beer") based
  on the German tradition of mixing at least 50% wheat to barley malt to make a
  light coloured top-fermenting beer, and witbier (Dutch – "white beer") based
  on the Belgian tradition of using flavorings such as coriander and orange peel.
  Belgian white beers are often made with raw unmalted wheat, as opposed to the
  malted wheat used in other varieties.
  <br><br>
  Both German Weißbier and Belgian witbier are termed "white beers" because "wheat"
  has the same etymological root as "white" in most West Germanic languages
  (including English).
  <br><br>
  U.S. brewers and Canadian brewers follow both of the main wheat beer traditions,
  usually with greater variation. In Britain, wheat beer is not considered
  traditional; however, sales have increased in recent years. This change has
  been attributed by some to the reduction in the cost of travelling abroad.
  This is in line with the rising sales of other speciality products.
  It tends to be a hybrid of the continental style with an English bitter, rather
  than an exact emulation.
  <br><br>
  Other minor wheat beer styles such as Berliner Weiße, Gose, and Lambic are made
  with a significant proportion of wheat.
</p>

</div>
