<div class="about-page">
<img src="../assets/beericon-2.png">
<h1> About Us </h1>

<p> Bibix was created on the idea that just because you don't know a lot about beer
  doesn't mean you should miss out on all of the amazing brews out there.
 <br><br>
 Bibix was created by me, Emmaline Salles, a 20-something beer lover. There's nothing
 better than going out to a bar, or getting home after a long day, or basically
 any other situation, and enjoying an ice cold beer. My problem was that even though
 I loved beer, I knew very little about it.
 <br><br>
 And so the idea for Bibix was born. The idea originated at the Brew
 Hacks Hackathon at Alley New York City in 2016. After receiving the winning title,
 I knew I was on to something.
 <br><br>
 The idea behindBibix is to create an easy-to-use interface that recommends
 beers you would enjoy based on your flavor profile.
  <br><br>

  <h2> How to Use Bibix </h2>

  <p> When you sign up, you'll automatically be directed to a 'preferences' page.
    On it are 10 beers. Each choice represents a different style of beer (Find out more
    about each style on the <a href="/styles">styles</a> page). You select your
    top 3 favorite beers from the list and hit the 'See Recommendations' button. You'll then
    be redirected to your own personal Beer Dashboard.
    <br><br>
    The first scroller is your recommendations list. There you'll find all of the beers
    in our database that match your flavor profile. Click on the images to find out
    more about each beer and favorite any that you want to remember for later.
    You can now go out and try new beers that fit your flavor profile.
    <br><br>
    We've also included other categories that will constantly be updated so that
    you can explore other beers that might not be directly related to what you
    normally drink.
    <br><br>
    With Bibix, you can learn more about the alcoholic drink you love in an easy,
    clean way. Enjoy!
    <br><br>


  </div>
